<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>

<body>
<br>
<h1> Edit </h1>
<br><br>
<form action="#" th:action="@{save}" th:object="${user}" method="post">
    <table>
        <tr>
            <td>id <label for="id"></label><input readonly type="number" th:field="*{id}" id="id" placeholder="id"></td>
        </tr>

        <tr>
            <td><h3> name </h3> <label for="name"></label><input type="text" th:field="*{name}" id="name" placeholder="name"> <br><br><br></td>
        </tr>

        <tr>
            <td><h3> lastname </h3> <label for="lastname"></label><input type="text" th:field="*{lastname}" id="lastname" placeholder="lastname"> <br><br><br></td>
        </tr>

        <tr>
            <td><h3> email </h3> <label for="email"></label><input type="text" th:field="*{email}" id="email" placeholder="email"> <br><br><br></td>
        </tr>
    </table>

    <input type="submit" value="save">
</form>
</body>
</html>