<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>

<body>
<br>
<h1> List All Users </h1>
<br><br>
<table>
    <tr>
        <th><h3>|- id -|</h3></th>
        <th><h3>- name -|</h3></th>
        <th><h3>- lastname -|</h3></th>
        <th><h3>- email -|</h3></th>
        <th><h3> options </h3></th><br>
    </tr>

    <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.lastname}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <button><a th:href="@{update{id}(id=${user.id})}">update</a></button>
                <button><a th:href="@{delete{id}(id=${user.id})}">delete</a></button>
            </td><br>
        </tr>
    </th:block>
</table>
<br><br>
<button><a th:href="add">add new user</a></button>

</body>
</html>